* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Prototype';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-board {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    background-color: #7ebeff;
    background-image: linear-gradient(62deg, #7ebeff 0%, #d8afff 100%);
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
}

.square:nth-of-type(1) {
    border-top-left-radius: 15px;
}

.square:nth-of-type(3) {
    border-top-right-radius: 15px;
}

.square:nth-of-type(7) {
    border-bottom-left-radius: 15px;
}

.square:nth-of-type(9) {
    border-bottom-right-radius: 15px;
}

.square:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 20px solid #0CAFFF;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    background-color: #FF004F;
    border-radius: 10px;
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.btn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 40px;
}

#info {
    font-size: 30px;
    margin: 10px;
    padding: 15px 45px;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#new-game {
    display: none;
    margin-bottom: 10px;
}

#water-mark {
    position: fixed;
    bottom: 0px;
    right: auto;
    margin: 5px 10px;
    background-color: bisque;
    padding: 3px 10px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

#water-mark a {
    text-decoration: none;
    color: black;
}

#water-mark:hover {
    cursor: pointer;
    background-color: rgb(255, 199, 131);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}